@use "global" as *;

.hamburger {
    z-index: 9999;
    width: rem(40);
    padding-block: rem(35);
    padding-inline: rem(30);
    height: inherit;
    cursor: pointer;
    color: white;
    transition: all 0.5s;
}


.hamburger span {
    position: absolute;
    left: rem(9);
    display: inline-block;
    width: rem(40);
    height: 2px;
    transition: transform 0.5s;
    background-color: white;
}

.hamburger.is-open {
    right: rem(20);
}

.hamburger span:nth-child(1) {
    top: rem(29);
}

.hamburger span:nth-child(2) {
    top: rem(40);
    width: rem(30);
    transition: opacity 0.5s;
}

.hamburger span:nth-child(3) {
    top: rem(51);
    width: rem(20);
}

.hamburger.hamburger.is-open span:nth-child(1) {
    transform: translateY(rem(9)) rotate(-135deg);
    background-color: white;
}

.hamburger.hamburger.is-open span:nth-child(2) {
    opacity: 0;
}

.hamburger.hamburger.is-open span:nth-child(3) {
    transform: translateY(rem(-13)) rotate(135deg);
    background-color: white;
    width: rem(40);
}
