@use "global" as *;

/* ===============================================
# マウスストーカー
=============================================== */
.stalker{
    width: rem(40);
    height: rem(40);
    border-radius: 50%;
    position: fixed;
    top: 0;
    left: 0;
	border: 1px solid $red;
    background-color: transparent;
    transform: translate(-50%,-50%);
    z-index: $z-index-stalker;
    pointer-events: none;
    mix-blend-mode: difference;// 色反転
}