@use "global" as *;

.top-voice {
}

.top-voice__inner {
    position: relative;
}

.top-voice__title-wrap {
    text-align: center;
}

.top-voice__sub-title {
    margin-top: rem(13);
}

.top-voice__cards {
    margin-top: rem(49);
    @include mq("md") {
        margin-top: rem(32);
    }
}

.top-voice__button {
    text-align: center;
    margin-top: rem(40);
    @include mq("md") {
        margin-top: rem(80);
    }
}

