@use "global" as *;

.top-price {
    background-image: url("../images/common/background-img2.webp");
    background-size: auto;
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: center center;
    color: $white;
    padding-top: rem(87);
    padding-bottom: rem(80);
    @include mq("md") {
        padding-top: rem(100);
        padding-bottom: rem(105);
    }
}

.top-price__inner {
    position: relative;
}

.top-price__title-wrap {
    text-align: center;
}

.top-price__container {
    margin-top: rem(29);
    display: flex;
    flex-direction: column-reverse;
    @include mq("md") {
        margin-top: rem(40);
        flex-direction: row;
        gap: 8.61%;
    }
}

.top-price__block {
    margin-top: rem(47);
    @include mq("md") {
        margin-top: initial;
        width: 45.5555%;
        padding-top: rem(8);
    }
}
.top-price__image {
    @include mq("md") {
        width: 45.5555%;
    }
}

.top-price__image img {
    aspect-ratio: 345 / 227;
    object-fit: cover;
    width: 100%;
    height: 100%;
    @include mq("md") {
        aspect-ratio: 492/746;
    }
}

.top-price__list-wrap:not(:first-child) {
    margin-top: rem(48);
}

.top-price__list-title {
    font-size: rem(16);
    line-height: 1;
    color: $white;
    border-bottom: 1px solid $white2;
    padding-bottom: rem(8);
}

.top-price__list {
    font-size: rem(14);
    font-weight: $regular;
    line-height: calc(24 / 14);
    margin-top: rem(8);
    @include mq("md") {
        font-size: rem(16);
    }
}

.top-price__list-item {
    display: flex;
    gap: 1em;
    justify-content: space-between;
    color: $white;
}

.top-price__list-item:not(:first-child) {
    margin-top: rem(8);
    @include mq("md") {
        margin-top: rem(3);
    }
}

.top-price__list-price {
    letter-spacing: 0.1em;
}

.top-price__button {
    text-align: center;
    margin-top: rem(40);
    @include mq("md") {
        margin-top: rem(80);
    }
}
